* {
    box-sizing: border-box;
}

body {
    background: url('img/blob.svg');
    background-repeat: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 100%;
    width: 800px;
    text-align: center;
}

h3 {
    margin: 0;
    font-size: 30px;
}

.joke {
    font-size: 30px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}

.btn-emoji {
    font-size: 30px;
    background: transparent;
    border: transparent;
    cursor: pointer;
}

.btn {
    border: #000;
    border: 0;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    color: #000;
    font-size: 20px;
    padding: 14px 40px;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}